@model Traveling_Platform.Models.Country

<div class="card-body">
    <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.commonName</h3>
    <div class="card-text"><h4>@Html.Raw(Model.officialName)</h4></div>
</div>