@model Traveling_Platform.Models.Country

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.commonName</h1>
<br/>

<div>
    @foreach(var city in ViewBag.City)
    {
        <div>
            <h3>@city.Name
                <a class="btn btn-success" href="/Cities/Details/@city.Id">View City</a></h3>
        </div>
        <br/>
    }
</div>

<div>
    <img src="@("data:image/png;base64," + ViewBag.PictureBase64)" alt="Hotel Picture" />
    <br/><br/>
    <a asp-action="Edit" asp-route-id="@Model?.tag">Edit Country</a> |
    <a asp-action="Index">Back to List</a>
</div>
