@model Traveling_Platform.Models.Country

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Country</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tag" />
            <div class="form-group">
                <label asp-for="commonName" class="control-label">Common Name</label>
                <input asp-for="commonName" class="form-control" />
                <span asp-validation-for="commonName" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <label asp-for="officialName" class="control-label">Official Name</label>
                <input asp-for="officialName" class="form-control" />
                <span asp-validation-for="officialName" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <button class="btn btn-primary">
    <a asp-action="Index">Back to List</a>
</button>}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
