@model Traveling_Platform.Models.City

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<br />

<div>
    @foreach (var hot in ViewBag.Hotels)
    {
        <div>
            <h3>
                @hot.name
                <a class="btn btn-success" href="/Hotels/Details/@hot.id_hotel">View Hotel</a>
            </h3>
        </div>
        <br />
    }
</div>

<div>
    <button id="edit">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit City</a> 
    </button>    
    <button id="edit">
    <a asp-action="Index">Back to List</a>
    </button>
</div>
