@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center><br/>
    <h1 class="titlu">Welcome to 4RA!</h1>
    <br /><br /><br /><br />
    <h3 id="introducere"> <a>
        This platform offers you a wide array of communication means with fellow tourists from the travelling community, offering you
        a unique enviroment well suited for discovering the best travel destination for your next trip.

        This app supports group chats with text messages. These groups are based on specific individual destinations, ranging from
        local to international trips to bring people closer and create a sense of community and belonging.

        Join us and let your once in a lifetime adventure start NOW!


        </a><br /><br /><br /><br /><br /><br /><br /><br />
        </h3></center>
</div>
